:root {

    /* Primary */
    --redColor: hsl(0, 78%, 62%);
    --cyanColor: hsl(180, 62%, 55%);
    --orangeColor: hsl(34, 97%, 64%);
    --blueColor: hsl(212, 86%, 64%);

    /* Neutral */
    --veryDarkBlueColor: hsl(234, 12%, 34%);
    --grayishBlueColor: hsl(229, 6%, 66%);
    --veryLightGrayColor: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400; /* 100-900 */
    font-style: normal; /* normal or italic */
    font-size: 15px;
    background-color: var(--veryLightGrayColor);
    color: var(--grayishBlueColor);
}

.container{
    border: 2px solid black;
    max-width: 375px;
    margin: auto;
    padding: 88px 32px 80px 32px;
}

/* Header Section Start */

h1{
    font-size: 24px;
}

h1,h2{
    font-weight: 400;
}

h1 span,h2{
    color: var(--veryDarkBlueColor);
    font-weight: 600;
}

header p{
    padding: 36px 0 80px 0;
}

/* Header Section End */



/* Main Section Start */

.card{
    padding: 30px;
    font-size: 14px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1rem 1.5rem -0.5rem rgb(0 50 100 / 0.15);
}

.card.one{
    border-top: 4px solid var(--cyanColor);
}

.card.two{
    border-top: 4px solid var(--redColor);
}

.card.three{
    border-top: 4px solid var(--orangeColor);
}

.card.four{
    border-top: 4px solid var(--blueColor);
}

.card p{
    margin-top: 14px;
    font-size: 12px;
}

.card img{
    width: 60px;
    height: 60px;
    margin-top: 40px;
    margin-left: auto;
    display: block;
}














.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}